* {
	font-family: 'Athiti', sans-serif;
	box-sizing: border-box;
}


body {

    display: flex;

    img {
        opacity: 0.5;
        width: 100%;
    }
}

// HEADER

#headerContainer {
    display: 1;
}

