html {
	font-family: 'Athiti', sans-serif;
	box-sizing: border-box;
}


body {

    img {
        width: 100%;
        position: absolute;
        max-height: 100%;
        opacity: 0.7;
    }
}

// HEADER

.container {

    #headerContainer {
        color: yellow;
        position: relative;
    }

    input {
        width: 100%;
        text-align: center;
        font-size: 40px;
        position: relative;
        // color: yellow;
        // opacity: 0;
    }

    .task {

        position: relative;

        .taskItem {
            color: yellow;
        }
    }
}
